[Rules]
# 花見酒・月見酒の有効/無効 (true または false)
enable_flower_sake = false
enable_moon_sake = false

# 役の得点
five_lights = 15
four_lights = 10
rainy_four_lights = 8
three_lights = 6
bdb = 6
flower_moon_base_pt = 1
flower_moon_koikoi_pt = 3
red_blue_ribbon = 12
red_ribbon = 6
blue_ribbon = 6