[Rules]
# 花見酒・月見酒の有効/無効 (true または false)
enable_flower_sake = true
enable_moon_sake = true

# 役の得点
five_lights = 10
four_lights = 8
rainy_four_lights = 7
three_lights = 5
bdb = 5
flower_moon_base_pt = 1
flower_moon_koikoi_pt = 3
red_blue_ribbon = 10
red_ribbon = 5
blue_ribbon = 5